[Unit]
Description=CAVA - Console-based Audio Visualizer
After=sound.target

[Service]
ExecStart=/usr/local/bin/cava -p /home/volumio/.config/cava/config
Restart=always
RestartSec=3
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target