[Unit]
Description=CAVA - Console-based Audio Visualizer
After=sound.target

[Service]
ExecStart=/usr/local/bin/cava -p /home/__INSTALL_USER__/.config/cava/config
Restart=always
RestartSec=3
User=__INSTALL_USER__
Group=__INSTALL_USER__

[Install]
WantedBy=multi-user.target

